<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoURL}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>يقيم في:</strong>
            <p>{{user?.country}},{{user?.city}}</p>
          </div>
          <div>
            <strong>العمر:</strong>
            <p>{{user?.age}}</p>
          </div>
          <div>
            <strong>أخر ظهور:</strong>
            <p>{{user?.lastActive}}</p>
          </div>
          <div>
            <strong>مشترك منذ:</strong>
            <p>{{user?.created}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">اعجاب</button>
            <button class="btn btn-success w-100">مراسلة</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-Panel">
        <tabset class="member-tabset">
          <tab heading="أنا {{user.knownAs}}">
            <h4>أعرفك بنفسي</h4>
            <p>{{user.introduction}}</p>
            <h4>أبحث عن</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="هواياتي">
            <h4>هواياتي</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="ألبوم الصور">
            <h4>ألبوم الصور</h4>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="الرسائل">
            <h4>الرسائل</h4>
            <p>قريباً</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
