<form #registerForm="ngForm" (ngSubmit)="register()" class="rtl">
  <h4 class="text-center text-dark nav-menu-font">شريكك في الحياة بانتظارك</h4>
  <hr>
  <div class="form-group"><input name="useername" [(ngModel)]="model.username" type="text" class="form-control" placeholder="اسم المشترك"></div>
  <div class="form-group"><input name="password" [(ngModel)]="model.password" type="text" class="form-control" placeholder="كلمة السر"></div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary btn-lg nav-menu-font">اشتراك</button>&ensp;
    <button type="button" (click)="cancel()" class="btn btn-primary btn-lg ml-2 nav-menu-font">ليس الأن</button>
  </div>
</form>
