﻿<nav class="rtl navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand brand-logo" [routerLink]="['/']" ><i class="fa fa-heart" aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>

  <ul *ngIf="loggedIn()" class="navbar-nav mr-auto nav-menu-font">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['']" >الرئيسية </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']">بحث</a>
    </li>
    <li class="nav-item" routerLinkActive="active"  >
      <a class="nav-link" [routerLink]="['/lists']" >تواصل</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']"  >دردشة</a>
    </li>
    <!-- <li *ngIf="loggedIn()" class="nav-item">
      <a class="nav-link" >خروج</a>
    </li> -->
  </ul>

  <div dropdown *ngIf="loggedIn()" class="dropdown">

    <a dropdownToggle class="dropdown-toggle text-light nav-menu-font nav-link">
      مرحبا بك
      {{authService.decodedToken?.unique_name | titlecase}}
    </a>

    <div *dropdownMenu class="dropdown-menu mt-3">
      <a class="dropdown-item mnav-link" [routerLink]="['/member/edit']"  ><i class="fa fa-user-o" aria-hidden="true"></i> ملفي الشخصي</a>
      <div class="drop-divider"></div>
      <a class="dropdown-item mnav-link" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> خروج</a>
    </div>
  </div>
  <span>
      <img src="{{authService.currentUser.photoURL}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </span>
  <form *ngIf="! loggedIn()" #LoginForm="ngForm" (ngSubmit)="login()" class="ml-5 form-inline my-2 my-lg-0">
    <input name="username" required class="form-control mr-sm-2" type="text" [(ngModel)]="model.username" placeholder="إسم المشترك">
    <input name="password" required class="form-control mr-sm-2" type="password" [(ngModel)]="model.password"
      placeholder="كلمة السر">
    <button [disabled]="!LoginForm.valid" style="font-weight:bold;font-family:'JF Flat';font-size:1.0rem" class="btn btn-secondary my-2 my-sm-0"
      type="submit">تفضل
      بالدخول</button>
  </form>
</nav>
